/* Timer.css */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #1d4cc4,#e72fb6);
  }
  
  .timer {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .timer.running {
    animation: gradientAnimation 5s linear infinite;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin: 0 10px;
  }
  
  button:hover {
    background-color: #33df47;
    color: #050202;
    transform: scale(1.05);
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  